.container{
  grid-template-columns: 200px 200px 350px ;
  grid-template-rows: 100px 100px 100px 100px 100px ;
  display:grid;
}

.item {
  padding: 10px;
  border: 2px solid black;
}

.item_1 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.item_3 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start:2 ;
  grid-row-end: 5 ;
}

.item.item_3{
  display: grid;
  grid-template-columns: 100px 400px ;
}

.block1{
  grid-row-start:1;
  grid-row-end: 3; 
}
